<div class="container mt-5">
  <h3 class="mb-4 text-center">
    <i class="fas fa-video"></i> Гледане на видео: <%= @media_file.file %>
  </h3>

  <div class="video-player mb-4 d-flex justify-content-center" id="video-player">
    <video class="video-fluid" controls autoplay>
      <source src="<%= serve_media_file_path(file_path: "#{@user_folder_path}/#{@media_file.file}") %>" type="video/<%= File.extname(@media_file.file)[1..-1] == 'mov' ? 'quicktime' : File.extname(@media_file.file)[1..-1] %>">
      Your browser does not support the video tag.
    </video>
  </div>

  <!--  <div class="text-center">-->
  <%#= link_to folder_media_files_path(@folder), class: 'btn btn-secondary' do %>
  <!--      <i class="fas fa-arrow-left"></i> Назад-->
  <%# end %>
  <!--  </div>-->
</div>

<%= javascript_include_tag "watch.js", defer: true %>
