<div class="container mt-5">
  <h3 class="mb-4 text-center">
    <i class="fas fa-video"></i> Гледане на видео: <%= @media_file.file %>
  </h3>

  <% file_path = "#{@user_folder_path}/#{@media_file.file}" %>

  <% if File.exist?(file_path) %>
    <div class="video-player mb-4 d-flex justify-content-center" id="video-player">
      <video class="video-fluid" controls autoplay>
        <source src="<%= serve_media_file_path(file_path: file_path) %>" type="video/<%= File.extname(@media_file.file)[1..-1] == 'mov' ? 'quicktime' : File.extname(@media_file.file)[1..-1] %>">
        Вашият браузър не поддържа този видео формат.
      </video>
    </div>
  <% else %>
    <div class="alert alert-danger text-center">
      Файлът не може да бъде намерен или е преместен. Моля, проверете дали файлът съществува и опитайте отново.
    </div>
  <% end %>
</div>

<%= javascript_include_tag "watch.js", defer: true %>
