<h1>Управление на вашите папки</h1>

<%= link_to new_folder_path, class: 'btn btn-primary mt-3 mb-2' do %>
  <i class="fa-solid fa-folder-plus"></i> Нова Папка
<% end %>

<hr />

<% if @folders.present? && @folders.count > 0 %>
  <ul class="list-group mt-5">
    <% @folders.select { |folder| folder.parent_id.nil? }.each do |folder| %> <!-- Render only root folders -->
      <%= render partial: 'shared/folder_tree', locals: { folder: folder, level: 0 } %> <!-- Start at level 0 -->
    <% end %>
  </ul>

  <div class="text-center">
    <%= will_paginate @folders, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <p>Все още няма създадени директории</p>
<% end %>
