<!-- Gallery Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="galleryModalLabel">Галерия</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
      </div>
      <div class="modal-body">
        <div id="userImagesCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if media_files.present? %>
              <% active_set = false %> <!-- Variable to track if 'active' class has been set -->
              <% media_files.each do |media_file| %>
                <% file_extension = File.extname(media_file.file).downcase %>
                <% if %w[.jpg .jpeg .png .gif].include?(file_extension) %>
                  <% file_path = File.join(Rails.configuration.user_files_path, media_file.folder.user.email, media_file.folder.full_path, media_file.file) %>
                  <% if File.exist?(file_path) %>
                    <div class="carousel-item <%= 'active' unless active_set %>">
                      <%= image_tag(serve_media_file_path(file_path: file_path), alt: media_file.file, class: 'd-block w-100') %>
                    </div>
                    <% active_set = true %> <!-- Set the 'active' class only for the first image -->
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <p>Няма налични изображения за показване.</p>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#userImagesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#userImagesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
