<h1>Welcome to MediaUploaderApp</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' do %>
    <i class="fa-solid fa-right-from-bracket"></i> Изход
  <% end %>
<% else %>
  <div class="d-flex  align-items-center mt-4">
    <%= link_to new_user_registration_path, class: 'nav-link d-flex align-items-center mx-2' do %>
      <i class="fa-solid fa-user-plus me-1"></i> Регистрирай се
    <% end %>
    <%= link_to new_user_session_path, class: 'nav-link d-flex align-items-center mx-2' do %>
      <i class="fa-solid fa-door-open me-1"></i> Вход
    <% end %>
  </div>
<% end %>
